@font-face {
  font-family: 'iconfont';  /* project id 1022075 */
  src: url('https://at.alicdn.com/t/font_1022075_b2qnhzon8os.eot');
  src: url('https://at.alicdn.com/t/font_1022075_b2qnhzon8os.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1022075_b2qnhzon8os.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1022075_b2qnhzon8os.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1022075_b2qnhzon8os.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1022075_b2qnhzon8os.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gift:before { content: "\e647"; }
.icon-user:before { content: "\e6af"; }
